
@keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }

 $sections: 
  ".story",
  "#studio",
  ".banner";
@each $element in $sections  {
    #{$element} {
      opacity: 0;
      animation: fadeIn 5s ease-in-out forwards;
    }
  }

@keyframes bouger-logo {
   0% {
       margin-top:200px; 
   }
   100% {
       margin-top:0%; 
   }
}


@keyframes flotterCopie {
 0% {
   transform: translateX(0); 
   
 }
 50% {
   transform: translateX(-20px); 
   
 }
 100% {
   transform: translateX(0); 
 }
}

 @keyframes rotation-fleurs {
   from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(360deg);
   }
}


$fleurs: 
  ".hibiscus_footer",
  ".randomflower",
  ".flower",
  ".orchid",
  ".sunflower",
  "#studio h2::after",
  ".story__article::after",
  ".site-footer ul::after",
  ".site-footer::after",
  "#studio h2::before",
  ".story h2::after",
  ".site-footer::before";

@each $element in $fleurs {
  #{$element} {
    animation: rotation-fleurs 5s linear infinite;
  }
}


// sunflower

.story h2::after
{
   width: 154px;
   height: 154px;
}


@keyframes apparition-titre {
 0% {
   opacity: 0;
   translate: 0px 100px;
 }
   30% {
     opacity: 0.4;
     translate: 0px 50px;
   }
   100% {
     opacity: 1;
     translate: 0px 0px;
   }
 }
 
.animation-titre-scroll {
   opacity: 0; 
   translate: 0px 100px; 
   animation-name: apparition-titre;
   animation-duration: 5s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;  
} 

.titre {
 display:block;
}

// section  nomination

.nomination {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    margin: auto;
    padding: 0;
    margin-top: 180px;
  
    p {
      color: #FFF5E9;
      font-size: 1.8rem;
      position: absolute;
      top: -0.2em;
      left: -1em;
    }
  
    img {
      width: 40%;
      height: 70%;
      position: absolute;
      top: 0px;
      left: 520px;
    }
    &__nuage
    {
      background-image: url("./images/nuage-orange.png");
      width: 800px;
      height: 187px;
      background-color: #FFF5E9;
      background-repeat:no-repeat;
      background-size:contain;
      background-position:unset;
      padding: 50;
      scale:1.2;
    }
@media (max-width: 1024px) and (min-width: 768px)
{
    width:auto;
    align-items: center;

  p {
      font-size: 1.2rem;
      top: 2em;
      left: 7.5em;
  }
  &__nuage
  {
      width: 60%;
      scale:0.9;
      margin-left:4rem;
  }
  img {
      width:20%;
      height: auto;
      margin-top: 50px;
  }
}
@media (max-width: 767px) {

  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  width: 100%;
  padding:0;
      p {
          font-size: 1rem; 
          background-size: contain; 
          width: 100%;
          left:2em;
          top:10px;
          }
 
      img {
          width: 100%; 
          height: auto; 
          left:10px;
          top:120px;
          }
 
  &__nuage
  {
      width: 320px;
      scale:1;
      margin:0;
  }
}
} 

// parallaxe logo


.videoContainer {
     position: relative;
     width: 100%;
     height: 150vh;
     overflow: hidden;
    &__heroVideo
    {
      position: absolute;
      width: 100%;
      height: 1000px;
      object-fit: cover;
      background-attachment: fixed;
    }
  
    &__heroImage
    {
    display:none;
    }
    &__logo
     {
      position: absolute;
      top: 10%;
      left: 25%;

        &--Image {
          animation: flotterCopie 3s ease-in-out infinite;
        }
     }

  @media (max-width: 767px) {
    height:100vh;
    position:relative;
    &__heroVideo {
    display: none;
    }

    &__heroImage {
      display: block;
      width:100%;
      object-fit: cover;
      height: 100vh; 
      background-position:center;
      background-repeat: no-repeat;
      background-size:cover; 
    }
    &__logo {
      position:absolute;
      top: 15%;
      left: 2%;
      scale:0.7;


      &--Image {
        scale:0.8;
      }
      
    }
}

@media (max-width: 1024px) and (min-width: 768px){
  &__heroVideo {
    display: none;
    }
    &__heroImage {
      display: block;
      object-fit: cover;
      height: 150vh; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
    }
    &__logo {
      top: 15%;
      left: 15%;
      width: 70%;
      }
   }
}

// ****slider personnages (swiper)***
.story #characters
{
 width: 100%;
 display:flex;
 flex-direction: column;
 align-items: flex-start;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height:600px; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 540px;
  font-size: 20px;
}

.swiper-slide figure {
  display: block;
  width: 400px;
  height: 440px;
}
.swiper-wrapper
{
  display:flex;
  flex-direction: row;
  height:550px; 
}

// voyage des nuages section place

 .story #place {
    display: flex;
    position:relative;
    flex-direction: row;
    background-image: url("./images/Studio_Koukaki-image_place.png");
    width: 100%;
    min-height: 699px;
    background-size: cover;
 
    &__grandNuage
        {
          opacity:0.5;
          position:absolute;
          top:20px;
          left:485px;
          background-image: url("./images/big_cloud.png");
          width: 100%;
          min-height: 200px;
          scale:0.6;
          background-position:center;
          background-repeat: no-repeat;
          background-size:contain;
          filter: blur(15px);

        }
    &__petitNuage
        {
          background-image: url("./images/little_cloud.png");
          position:absolute;
          opacity:0.5;
          width: 100%;
          min-height: 200px;
          scale:0.3;
          top:180px;
          left:200px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; 
          filter: blur(15px);
        }

  @media (max-width: 1024px) and (min-width: 768px){
  
      &__grandNuage{
        left:300px !important;
      }
      &__petitNuage
      {
        left:250px !important;
      }
      }
  @media (max-width: 767px) {
    &__grandNuage{
      left:180px !important;;
    }
    &__petitNuage
    {
      left:120px !important;
    }
      div > h3 > span
      {
        font-size: 1.8rem;
      }
    }
}

//navigation menu Hamburger
#navigationSite {
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF5E9;
  position: relative;
  .toggleMenu {
      display: flex;
      position: absolute;
      top: 0;
      height: 80px;
      width: 100%;
      background-color: #FFD5A2;
      justify-content: flex-end;
      align-items: center;
  
      .menuBurger {
        width: 9%;
        background-color: #FFD5A2;
        border: none;
        .line {
          height: 3px;
          background-color: #000;
          display: block;
          margin-block: 2px;
          width: 20px;
          transition: all 0.3s ease;
        }
      }
  
      a {
        text-align: center;
        width: 80%;
        text-decoration: none;
        font-size: 27px;
        font-weight: 700;
      }
    }
  
    #menuText {
      width: 50%;
      display: flex;
      flex-direction: column !important;
      height: 300px;
      margin: 5px auto;
      gap: 2rem;
      list-style-type: none;
      background-color: #FFF5E9;
  
      li {
        font-size: 3.5rem;
        font-weight: 400;
        animation: apparition-titre 6s ease-out forwards;
  
        a {
          text-decoration: none !important;
          
          &:hover {
            filter: drop-shadow(0px 0px 5px #ff5c00);
            -webkit-filter: drop-shadow(0px 0px 5px #ff5c00);
            -moz-filter: drop-shadow(0px 0px 5px #ff5c00);
          }
        }
      }
    }
    //tablette
    @media (max-width: 1024px) and (min-width: 768px){
      .toggleMenu { 
        top:0;
       }
       .menuPage
       {
          #menuText
          {
            li {
              font-size: 1.5rem;
              
              a {
                text-decoration: none !important;
                
                &:hover {
                  filter: drop-shadow(0px 0px 5px #ff5c00) !important;
                  -webkit-filter: drop-shadow(0px 0px 5px #ff5c00) !important;;
                  -moz-filter: drop-shadow(0px 0px 5px #ff5c00) !important;;
                }
              }

            }
          }
       }
      }
      //portable
    @media (max-width: 767px) {
        .toggleMenu 
        { 
          top:0;
              a {
                font-size: 0.9rem;
                font-weight: 700;
                }
            .menuBurger
                {
                width: 12%;
                }
         }
}
}

.menuPage {
      display: none;
      position: relative;
      text-align: center;
      top: 80px;
      width: 100%;
      height: 990px;
      background-color: #FFF5E9;
      animation: fadeIn 3s ease-in-out forwards;
      .logomenu {
          width: 10%;
          margin-top: 20px;
        }
      .basmenu {
          text-align: center;
          margin: 7rem auto;
        }

      @media (max-width: 1024px) and (min-width: 768px){
        .logomenu {
          width: 15%;
          // margin-bottom: 10px;
        }
        .basmenu {
          margin: 1px auto;
          }
          }
      @media (max-width: 767px) {
          height: 150vh;
          z-index: 99;
          .logomenu {
            width: 20%;
            margin-top: 5px;
          }
          #menuText
          {
            height: 100px;
            align-items: center;
            gap:0 !important;
            z-index: 999;
           li {margin:0;
                a 
                {
                font-size: 1rem;
              }
            }
          }
          .orchid
          {
            position:absolute;
            scale:0.3;
            top:2px !important;
            left:1px !important;
          }
          .sunflower
          {
            scale:0.5;
           
          }

          .chat-blue{
            scale:0.5;
            left:2%;
          }
          .chat-orange{
            scale:0.5;
            left:1%;
          }
          .chat-noir{
            scale:0.5;
            left:60%
          }
       
          .basmenu {
            margin: 2.1rem auto;
            font-size: 0.5rem;
            }
          }
  }

  .menuOuvert {
    display: block;
  }

// Rotation des lignes pour faire une croix 
.rotate-down {
transform: rotate(45deg) translate(3.5px, 3.5px);

}
.rotate-up {
transform: rotate(-45deg) translate(3.5px, -3.5px);
}
// Cache la ligne du milieu 
.hide {
opacity: 0;
}


// Animations menu

$flowers: (
  orchid: (
    left: -4.5rem,
    top: 3rem,
    scale: 0.8,
    z-index: 999,
  ),
  sunflower: (
    top: 10%,
    left: 72%,
  ),
  randomflower: (
    scale: 0.4,
    top: 25%,
    left: 92%,
  ),
  flower: (
    scale: 0.5,
    top: 45%,
    left: 17%,
  ),
  hibiscus_footer: (
    top: 39%,
    left: 77%,
    scale: 0.7,
  ),
);

@each $name, $styles in $flowers {
  .#{$name} {
    position: absolute; // Position factorisée
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}



@keyframes floatchat {
 0% {
   transform: translate(0,0);
 }
 20% {
   transform: translate(2px,-5px);
 }
 40% {
   transform: translate(-2px,0);  }
 60% {
   transform: translate(2px,-6px);  }
 80% {
   transform: translate(0,-3px);  }
 100% {
   transform: translate(0,0);  
 }
}

$chat-positions: (
  chat-blue: (
    top: 19%,
    left: 23%,
    duration: 5s,
  ),
  chat-orange: (
    top: 62%,
    left: 9%,
    duration: 4s,
  ),
  chat-noir: (
    top: 37%,
    left: 75%,
    duration: 6s,
  ),
);

@each $name, $styles in $chat-positions {
  .#{$name} {
    position: absolute; 
    top: map-get($styles, top);
    left: map-get($styles, left);
    animation: floatchat map-get($styles, duration) 200ms ease-in-out infinite; 
  }
}

@media (max-width: 1024px) and (min-width: 768px){

//*************personnages****************
#characters
{
 width: 100%;
 display:flex;
 flex-direction: column;
 align-items: flex-start;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height:600px; 
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  font-size: 20px;
}

.swiper-slide figure {
  display: block;
  width: 290px;
  // width: 100%;

  height: 260px;
}
.swiper-wrapper
{
  display:flex;
  flex-direction: row;
  height:400px; 
}
}

@media (max-width: 767px) {
//paramaétres globaux

//personnages

.story {
  #characters{
    div {
      padding:0;
      h3{
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
}

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width:250px;
    height: 250px;
    font-size: 20px;
  }
  
  .swiper-slide figure {
    display: block;
    width: 290px;
    // width: 100%;
    height: 260px;
  }
  .swiper-wrapper
  {
    display:flex;
    flex-direction: row;
    height:400px; 
  }

}
